* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    width: 592px;
    height: 579px;
    margin: auto;
}

.image {
    width: 348px;
    height: 223px;
    margin: 0 105px 72px 109px;
}

#title {
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
    height: 112px;
    font-size: 49px;
    font-weight: 400px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 32px;
}

.unicos {
    color: #f90;
    font-weight: 700px;
}

#text {
    height: 140px;
    color: #7D7987;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
}

.text-color {
    color: #f90;
}

footer {
    display: flex;
    gap: 30px;
    font-size: 14px;
    height: 28px;
    justify-content: center;
    margin: 80px auto 33px;
    color: #f90;
    text-align: center;
    line-height: 28px;
    text-decoration: underline;
}